:root {
  --main-bg: #f7f8f9;
  --primary-color: #e30613;
  --highlight-color: #fcfcfc;
  --secondary-color: #242424;
  --accent-clor: #099cec;
  --color-accent: rgb(0, 150, 199);
  --border-color: #e0e4e7;
  --tw-bg-opacity: 1;
  --bg-blue-fonce: rgba(5, 13, 46, var(--tw-bg-opacity));
}
input {
  outline: none;
}
body {
  background: var(--main-bg);
}
a {
  color: inherit;
  text-decoration: none;
}
.prop-elm {
  margin-bottom: 27px;
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  page-break-inside: avoid;
}
.card {
  background: #fbfbfc;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}
.zoom {
  transition: transform 0.3s ease-in-out;
}

.zoom:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.item-list-o {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
  text-align: left;
  color: #444;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table th {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 25px;
  color: #444;
  font-weight: 700;
  text-align: left;
  padding: 8px 0;
  text-transform: capitalize;
  border-bottom: 1px solid #e0e0e0;
}
.table th:first-child,
.table td:first-child {
  text-align: left;
  padding: 0 5px;
}
.item-list-o,
.table td {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
  text-align: left;
  color: #444;
}

.table tr:last-child td {
  border-bottom: 0;
}

.table-form {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}
.table-form td {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.table-form tr:last-child td {
  border-bottom: 0;
}

.table tr:hover td {
  cursor: pointer;
  color: var(--color-accent);
}
.table.no-hover tr:hover td,
.table td.no-hover:hover {
  cursor: default;
  background-color: transparent;
  color: #444;
}
.table td.active {
  color: var(--color-accent);
  font-weight: 700;
}

.table-2 {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  border-collapse: collapse;
}
.table-2 th,
.table-2 td {
  font-style: normal;
  line-height: 24px;
  font-size: 13px;
  text-align: left;
}
.table-2 th {
  font-weight: 600;
  color: #282136;
  padding: 16px;
  border-bottom: 1px solid #ededed;
}
.table-2 td {
  font-weight: normal;
  color: #282136;
  padding: 12px 16px;
}
.table-2 tbody tr:nth-child(odd) {
  background-color: #f8f9fa; /* #F8F9FA*/
  color: #fff;
}
.table-3 {
  border-collapse: collapse;
  width: 100%;
}
.table-3 th {
  text-align: left;
}
.table-3 td {
  padding: 5px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
}
.table-3 tr:last-child td {
  border-bottom-color: transparent;
}
/* .table-2 tbody tr.selected,
.table-2 tbody tr:hover td {
  cursor: pointer;
  background-color: var(--highlight-color);
} */
.btn-md {
  padding: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
  border: none;
  user-select: none;
}

.nav__link.router-link-exact-active {
  border-left: 2px solid var(--color-accent);
  background: rgba(255, 255, 255, 0.05);
}

* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.stack-layout {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stack-layout .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stack-layout .logo {
  width: 96px;
  height: 52px;
  margin-bottom: 8px;
}
.stack-layout .title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 32px;
}
.brand {
  background: rgba(255, 255, 255, 0.05);
}

.dp {
  z-index: 999;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  position: absolute;
  margin-top: 0.5rem /* 8px */;
  z-index: 9999;
  width: 14rem /* 224px */;
  border-radius: 0.375rem /* 6px */;
  background-color: #ffffff;
}
.dropdown-item {
  display: block;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  color: rgba(55, 65, 81, 1);
}
.dropdown-item:hover {
  /* background-color: rgba(243, 244, 246, 1);
  color: rgba(17, 24, 39, 1); */
  background-color: rgb(243, 242, 248);
  color: var(--color-accent);
  cursor: pointer;
}

.sidebar-with {
  width: 20rem /* 320px */;
}
.sidebar a {
  /* font-size: 1px; */
  font-family: "Roboto", "Unbuntu", sans-serif;
}