@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full border-gray-300 rounded ring-0 focus:border-blue-accent focus:ring-blue-accent;
  }
  [type="checkbox"],
  [type="radio"] {
    @apply rounded border-gray-400 text-blue-accent 
     focus:ring-blue-accent;
  }
  [type="radio"] {
    @apply rounded-full;
  }
}

@layer components {
  .pagin-item-color {
    @apply bg-blue-accent text-white;
  }
  .pagin-page {
    @apply text-sm rounded-full mx-1 w-6 h-6 focus:outline-none;
  }
  .btn {
    @apply inline-block px-5 py-2 rounded-lg 
      hover:-translate-y-0 focus:outline-none focus:ring
      focus:ring-offset-2 focus:ring-indigo-500 focus:ring-opacity-5 
      transform transition uppercase tracking-wider text-sm sm:text-base;
  }
  .btn-primary {
    @apply hover:bg-indigo-400  bg-indigo-500
    text-white;
  }

  .btn-default {
    @apply bg-gray-300 text-gray-800
    hover:bg-gray-200 
    focus:ring-gray-300 focus:ring-opacity-50;
  }

  .button {
    @apply btn border border-blue-accent  rounded-sm text-blue-accent  text-xs mr-4 
    hover:bg-blue-accent hover:text-white;
  }
  .btn-danger {
    @apply button border-red-400 text-red-500 hover:bg-red-400 hover:text-white;
  }
  .btn-success {
    @apply button border-green-400 text-green-500 hover:bg-green-400 hover:text-white;
  }
  .icon-button {
    @apply border focus:outline-none rounded-sm p-1 focus:text-blue-200;
  }
  .text-field {
    @apply border-0 border-b focus:ring-0;
  }
  .textbox {
    @apply w-full border ring-0 placeholder-gray-400 text-gray-900 appearance-none inline-block bg-white focus:outline-none focus:ring-0 focus:ring-blue-accent;
  }
  .thhh {
    @apply text-teal-300;
  }
}
